body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color:  rgb(240, 210, 250);
    box-shadow: 0 4px 20px rgb(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 10px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color:rgb(132, 20, 160);
}
.container{
    height: 700px;
    width: 500px;
    background-color: rgb(240, 210, 250);
    box-shadow: 10px 10px 5px rgb(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 650px;
    margin-top: 50px;
}
.container h3{
    padding-top: 30px;
    padding-left: 150px;
    color: rgb(110, 1, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large ;
}
.container form div{
    padding-left: 50px ;
}
.container form div input{
    height: 35px;
    width: 390px;
    outline-offset: 1px;
}
.container form div select{
    height: 35px;
    width: 398px;
    outline-offset: 1px;
    background-color: rgb(228, 225, 225);
}
.container form div button{
    height: 40px;
    width: 400px;
    background-color: rgb(190, 11, 245);
    border-radius: 10px;
    border: none;
}
.container form div button a{
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}