body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color:  rgb(233, 233, 115);
    box-shadow: 0 4px 20px rgb(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 50px;
    margin: 10px 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 10px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color:rgb(20, 127, 160);
}
nav ul li a:hover{
    background-color: aliceblue;
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color:rgb(172, 172, 7);
}
.container{
    height: 600px;
    width: 500px;
    background-color: rgb(219, 219, 219);
    padding-top: 2px;
    margin-left: 650px;
    border-radius: 12px;
}
.container h3{
    padding-top: 30px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large ;
}
.container form{
    padding-left: 40px;
}
.container form div{
    padding: 10px;
}
.container form div input{
    height: 35px;
    width: 390px;
}
.container form div select{
    height: 35px;
    width: 395px;
}
button{
    height: 35px;
    width: 130px;
    background-color: rgb(20, 127, 160);
    border: none;
    margin-left: 130px;
}
button a{
    color: white;
    font-size: medium;
    text-align: center;
    text-decoration: none;
}